// common styles
body {
  position: relative;
  line-height: normal;
  font-family: 'Montserrat', sans-serif;
}

// backgrounds

.background_wishes-page-gradient{
  background: linear-gradient(206deg, #88B6E0 12.62%, #1964A9 141.31%);
}

.background_main-page-gradient {
  background: linear-gradient(166deg, #c5d9eb 0%, #1964a9 130.54%);
}

.background_timetable-page-gradient {
  background: linear-gradient(178deg, #88B6E0 1.4%, #1964A9 152.38%);
}

.background_menu-page-gradient{
  background: linear-gradient(122deg, #AECEEB 24.14%, #1964A9 115.01%);
}

// common classes

.container {
  max-width: 420px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 1440px;
  }
}

.title{
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  @media screen and (min-width: 1440px) {
    font-size: 48px;
  }
}

.input{
  display: block;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  width: 306px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: $input-text-color;
  &::placeholder{
    font-size: 18px;
    font-weight: 500;
    color: $input-text-color;
  }
  @media screen and (min-width: 768px) {
    width: 516px;
  }
  @media screen and (min-width: 1440px) {
    padding-left: 25px;
    width: 1085px;
    font-size: 24px;
    &::placeholder{
      font-size: 24px;
    }
  }
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hide-select{
  display: none;
}
