$dark-accent-color: #000;
$text-color: #18193F;
$medium-blue: #477096;
$darker-medium-blue: #325a6a;
$almost-white: #e4effa;
$white: #FFF;
$video-wrap-color: #6191bd;
$title-color: #1f4474;
$background-modal-color: #193855;
$text-border-color: #D9D9D9;
$light-blue: #88B6E0;
$input-text-color: #1964A9;
$btn-background: #90B0CD;
$almost-black: #030C15;
$select-title-text-color: #1F1C1C;
$another-blue: #4279AB;

$cube: cubic-bezier(0.4, 0, 0.2, 1);