$dark-accent-color: #000;
$text-color: #18193F;
$medium-blue: #477096;
$darker-medium-blue: #325a6a;
$title-color: #1f4474;
$background-modal-color: #193855;
$almost-white: #e4effa;
$white: #FFF;
$video-wrap-color: #6191bd;

$cube: cubic-bezier(0.4, 0, 0.2, 1);