<header class="header">
  <div class="header__container container">
    <button type="button" class="header__modal-open-btn" data-modal-open>
      <svg class="header_burger">
        <use href="./img/svg/burger.svg#burger"></use>
      </svg>
    </button>
    <a href="https://school52.pro4.com.ua/">
      <picture>
        <source
          srcset="img/logo/logo-420-1x.webp 1x, img/logo/logo-420-2x.webp 2x"
          type="image/webp"
          media="(max-width: 767.9px)"
        />
        <source
          srcset="img/logo/logo-420-1x.png 1x, img/logo/logo-420-2x.png 2x"
          media="(max-width: 767.9px)"
        />
        <source
          srcset="img/logo/logo-768-1x.webp 1x, img/logo/logo-768-2x.webp 2x"
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="img/logo/logo-768-1x.png 1x, img/logo/logo-768-2x.png 2x"
          media="(min-width: 768px)"
        />
        <img src="./img/logo/logo-420-1x.png" alt="logo" class="header__logo" />
      </picture>
    </a>
    <nav class="header_nav">
      <ul class="header_list">
        <li class="header__item">
          <a href="./index.html" class="header__link">Головна</a>
        </li>
        <li class="header__item"><a href="./menu.html" class="header__link">Меню</a></li>
        <li class="header__item">
          <a href="./timetable.html" class="header__link">Розклад</a>
        </li>
        <li class="header__item">
          <a href="./wishes.html" class="header__link">Відгуки</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
