<section class="about">
  <div class="container about__container">
    <h2 class="about__title">
      Про нас
    </h2>
    <div class="about__text-wrap">
      <p class="about__text">      Наша шкільна їдальня - просто вражаюча! Щодня тут чекає нас не лише
        смачна, а й різноманітна їжа. Кухарі роблять все можливе, щоб додати різні
        страви до меню та враховувати усі смакові уподобання. Що робить нашу
        їдальню особливою? Не лише смачна їжа, але і дружня атмосфера. Тут завжди
        гомонить веселий сміх, і кожен знає, що обід тут - це не тільки час
        поїсти, а й час відпочити та поділитися новинами.</p>
      <p class="about__text">
        Наша їдальня - це місце, де всі вітають тебе посмішкою і можуть
        порадити, яку страву обрати. Тут не просто кухарі, а настоящі маги, які
        вміють зробити обід особливим. Вони розуміють, що важливо не лише
        наситити, а й зробити обід приємним моментом у нашому шкільному дні.
      </p>
    </div>
  </div>
</section>
