<section class="about">
  <div class="container about__container">
    <h2 class="about__title">
      тут мав би бути текст про їдальню, але ми його теж не придумали
    </h2>
    <div class="about__text-wrap">
      <p class="about__text">
        блаблаблаблаблаблаблаблаблаблаблабалблаблаблаблабалблаблаблаблаблаблаблаблаблаблаблабалблаблаблаблабалблаблаблаблаблаблаблаблаблаблаблабалблаблаблаблабалблаблаблаблаблаблаблаблаблаблаблабалблаблаблаблабал
        блаблаблаблаблаблаблаблаблаблаблабалблаблаблаблабалблаблаблаблаблаблаблаблаблаблаблабалблаблаблаблабалблаблаблаблаблаблаблаблаблаблаблабалблаблаблаблабал
      </p>
      <p class="about__text">
        блаблаблаблаблаблаблаблаблаблаблабалблаблаблаблабалблаблаблаблаблаблаблаблаблаблаблабалблаблаблаблабалблаблаблаблаблаблаблаблаблаблаблабалблаблаблаблабалблаблаблаблаблаблаблаблаблаблаблабалблаблаблаблабал
        блаблаблаблаблаблаблаблаблаблаблабалблаблаблаблабалблаблаблаблаблаблаблаблаблаблаблабалблаблаблаблабалблаблаблаблаблаблаблаблаблаблаблабалблаблаблаблабал
      </p>
    </div>
  </div>
</section>
