<section class="wishform">
  <div class="wishform__container container">
    <h2 class="title wishform__title">залиште своє побажання щодо нашої їжі</h2>
    <form class="wishform__form">
      <input placeholder="Клас" type="text" class="wishform__input input" />
      <input
        placeholder="Прізвище та ім’я"
        type="text"
        class="wishform__input input"
      />
      <textarea
        placeholder="Які страви вам подобаються найбільше?"
        class="wishform__textarea input"
      ></textarea>
      <button class="wishform__button" type="submit">Відправити</button>
    </form>
  </div>
</section>
