<section class="meals">
  <div class="container">
    <ul class="meals__list">
      <li class="meals__item">
        <h3 class="meals__day-title">понеділок</h3>
        <ul class="meals__dish-list">
          <li class="meals__dish-item">
            <div class="meals__thumb">
              <picture>
                <source
                  srcset="
                    img/timetable-pic/monday/breakfast/mn-br-420-1x.webp 1x,
                    img/timetable-pic/monday/breakfast/mn-br-420-2x.webp 2x
                  "
                  type="image/webp"
                  media="(max-width: 1439.9px)"
                />
                <source
                  srcset="
                    img/timetable-pic/monday/breakfast/mn-br-420-1x.jpg 1x,
                    img/timetable-pic/monday/breakfast/mn-br-420-2x.jpg 2x
                  "
                  media="(max-width: 1439.9px)"
                />
                <source
                  srcset="
                    img/timetable-pic/monday/breakfast/mn-br-1440-1x.webp 1x,
                    img/timetable-pic/monday/breakfast/mn-br-1440-2x.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    img/timetable-pic/monday/breakfast/mn-br-1440-1x.jpg 1x,
                    img/timetable-pic/monday/breakfast/mn-br-1440-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <img
                  src="./img/timetable-pic/monday/breakfast/mn-br-420-1x.jpg"
                  alt="logo"
                  class="meals__img"
                />
              </picture>
            </div>
            <p class="meals__meal-name">сніданок</p>
          </li>
          <li class="meals__dish-item">
            <div class="meals__thumb">
              <picture>
                <source
                  srcset="
                    img/timetable-pic/monday/lunch/mn-lu-420-1x.webp 1x,
                    img/timetable-pic/monday/lunch/mn-lu-420-2x.webp 2x
                  "
                  type="image/webp"
                  media="(max-width: 1439.9px)"
                />
                <source
                  srcset="
                    img/timetable-pic/monday/lunch/mn-lu-420-1x.jpg 1x,
                    img/timetable-pic/monday/lunch/mn-lu-420-2x.jpg 2x
                  "
                  media="(max-width: 1439.9px)"
                />
                <source
                  srcset="
                    img/timetable-pic/monday/lunch/mn-lu-1440-1x.webp 1x,
                    img/timetable-pic/monday/lunch/mn-lu-1440-2x.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    img/timetable-pic/monday/lunch/mn-lu-1440-1x.jpg 1x,
                    img/timetable-pic/monday/lunch/mn-lu-1440-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <img
                  src="./img/timetable-pic/monday/lunch/mn-lu-420-1x.jpg"
                  alt="logo"
                  class="meals__img"
                />
              </picture>
            </div>
            <p class="meals__meal-name">обід</p>
          </li>
        </ul>
      </li>
      <li class="meals__item">
        <h3 class="meals__day-title">вівторок</h3>
        <ul class="meals__dish-list">
          <li class="meals__dish-item">
            <div class="meals__thumb">
              <picture>
                <source
                  srcset="
                    img/timetable-pic/tuesday/breakfast/tue-br-420-1x.webp 1x,
                    img/timetable-pic/tuesday/breakfast/tue-br-420-2x.webp 2x
                  "
                  type="image/webp"
                  media="(max-width: 1439.9px)"
                />
                <source
                  srcset="
                    img/timetable-pic/tuesday/breakfast/tue-br-420-1x.jpg 1x,
                    img/timetable-pic/tuesday/breakfast/tue-br-420-2x.jpg 2x
                  "
                  media="(max-width: 1439.9px)"
                />
                <source
                  srcset="
                    img/timetable-pic/tuesday/breakfast/tue-br-1440-1x.webp 1x,
                    img/timetable-pic/tuesday/breakfast/tue-br-1440-2x.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    img/timetable-pic/tuesday/breakfast/tue-br-1440-1x.jpg 1x,
                    img/timetable-pic/tuesday/breakfast/tue-br-1440-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <img
                  src="./img/timetable-pic/tuesday/breakfast/tue-br-420-1x.jpg"
                  alt="logo"
                  class="meals__img"
                />
              </picture>
            </div>
            <p class="meals__meal-name">сніданок</p>
          </li>
          <li class="meals__dish-item">
            <div class="meals__thumb">
              <picture>
                <source
                  srcset="
                    img/timetable-pic/tuesday/lunch/tue-lu-420-1x.webp 1x,
                    img/timetable-pic/tuesday/lunch/tue-lu-420-2x.webp 2x
                  "
                  type="image/webp"
                  media="(max-width: 1439.9px)"
                />
                <source
                  srcset="
                    img/timetable-pic/tuesday/lunch/tue-lu-420-1x.jpg 1x,
                    img/timetable-pic/tuesday/lunch/tue-lu-420-2x.jpg 2x
                  "
                  media="(max-width: 1439.9px)"
                />
                <source
                  srcset="
                    img/timetable-pic/tuesday/lunch/tue-lu-1440-1x.webp 1x,
                    img/timetable-pic/tuesday/lunch/tue-lu-1440-2x.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    img/timetable-pic/tuesday/lunch/tue-lu-1440-1x.jpg 1x,
                    img/timetable-pic/tuesday/lunch/tue-lu-1440-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <img
                  src="./img/timetable-pic/tuesday/lunch/tue-lu-420-1x.jpg"
                  alt="logo"
                  class="meals__img"
                />
              </picture>
            </div>
            <p class="meals__meal-name">обід</p>
          </li>
        </ul>
      </li>
      <li class="meals__item">
        <h3 class="meals__day-title">середа</h3>
        <ul class="meals__dish-list">
          <li class="meals__dish-item">
            <div class="meals__thumb">
              <picture>
                <source
                  srcset="
                    img/timetable-pic/wednesday/breakfast/wen-br-420-1x.webp 1x,
                    img/timetable-pic/wednesday/breakfast/wen-br-420-2x.webp 2x
                  "
                  type="image/webp"
                  media="(max-width: 1439.9px)"
                />
                <source
                  srcset="
                    img/timetable-pic/wednesday/breakfast/wen-br-420-1x.jpg 1x,
                    img/timetable-pic/wednesday/breakfast/wen-br-420-2x.jpg 2x
                  "
                  media="(max-width: 1439.9px)"
                />
                <source
                  srcset="
                    img/timetable-pic/wednesday/breakfast/wen-br-1440-1x.webp 1x,
                    img/timetable-pic/wednesday/breakfast/wen-br-1440-2x.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    img/timetable-pic/wednesday/breakfast/wen-br-1440-1x.jpg 1x,
                    img/timetable-pic/wednesday/breakfast/wen-br-1440-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <img
                  src="./img/timetable-pic/wednesday/breakfast/wen-br-420-1x.jpg"
                  alt="logo"
                  class="meals__img"
                />
              </picture>
            </div>
            <p class="meals__meal-name">сніданок</p>
          </li>
          <li class="meals__dish-item">
            <div class="meals__thumb">
              <picture>
                <source
                  srcset="
                    img/timetable-pic/wednesday/lunch/wen-lu-420-1x.webp 1x,
                    img/timetable-pic/wednesday/lunch/wen-lu-420-2x.webp 2x
                  "
                  type="image/webp"
                  media="(max-width: 1439.9px)"
                />
                <source
                  srcset="
                    img/timetable-pic/wednesday/lunch/wen-lu-420-1x.jpg 1x,
                    img/timetable-pic/wednesday/lunch/wen-lu-420-2x.jpg 2x
                  "
                  media="(max-width: 1439.9px)"
                />
                <source
                  srcset="
                    img/timetable-pic/wednesday/lunch/wen-lu-1440-1x.webp 1x,
                    img/timetable-pic/wednesday/lunch/wen-lu-1440-2x.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    img/timetable-pic/wednesday/lunch/wen-lu-1440-1x.jpg 1x,
                    img/timetable-pic/wednesday/lunch/wen-lu-1440-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <img
                  src="./img/timetable-pic/wednesday/lunch/wen-lu-420-1x.jpg"
                  alt="logo"
                  class="meals__img"
                />
              </picture>
            </div>
            <p class="meals__meal-name">обід</p>
          </li>
        </ul>
      </li>
      <li class="meals__item">
        <h3 class="meals__day-title">четвер</h3>
        <ul class="meals__dish-list">
          <li class="meals__dish-item">
            <div class="meals__thumb">
              <picture>
                <source
                  srcset="
                    img/timetable-pic/thursday/breakfast/thur-br-420-1x.webp 1x,
                    img/timetable-pic/thursday/breakfast/thur-br-420-2x.webp 2x
                  "
                  type="image/webp"
                  media="(max-width: 1439.9px)"
                />
                <source
                  srcset="
                    img/timetable-pic/thursday/breakfast/thur-br-420-1x.jpg 1x,
                    img/timetable-pic/thursday/breakfast/thur-br-420-2x.jpg 2x
                  "
                  media="(max-width: 1439.9px)"
                />
                <source
                  srcset="
                    img/timetable-pic/thursday/breakfast/thur-br-1440-1x.webp 1x,
                    img/timetable-pic/thursday/breakfast/thur-br-1440-2x.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    img/timetable-pic/thursday/breakfast/thur-br-1440-1x.jpg 1x,
                    img/timetable-pic/thursday/breakfast/thur-br-1440-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <img
                  src="./img/timetable-pic/thursday/breakfast/thur-br-420-1x.jpg"
                  alt="logo"
                  class="meals__img"
                />
              </picture>
            </div>
            <p class="meals__meal-name">сніданок</p>
          </li>
          <li class="meals__dish-item">
            <div class="meals__thumb">
              <picture>
                <source
                  srcset="
                    img/timetable-pic/thursday/lunch/thur-lu-420-1x.webp 1x,
                    img/timetable-pic/thursday/lunch/thur-lu-420-2x.webp 2x
                  "
                  type="image/webp"
                  media="(max-width: 1439.9px)"
                />
                <source
                  srcset="
                    img/timetable-pic/thursday/lunch/thur-lu-420-1x.jpg 1x,
                    img/timetable-pic/thursday/lunch/thur-lu-420-2x.jpg 2x
                  "
                  media="(max-width: 1439.9px)"
                />
                <source
                  srcset="
                    img/timetable-pic/thursday/lunch/thur-lu-1440-1x.webp 1x,
                    img/timetable-pic/thursday/lunch/thur-lu-1440-2x.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    img/timetable-pic/thursday/lunch/thur-lu-1440-1x.jpg 1x,
                    img/timetable-pic/thursday/lunch/thur-lu-1440-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <img
                  src="./img/timetable-pic/thursday/lunch/thur-lu-420-1x.jpg"
                  alt="logo"
                  class="meals__img"
                />
              </picture>
            </div>
            <p class="meals__meal-name">обід</p>
          </li>
        </ul>
      </li>
      <li class="meals__item">
        <h3 class="meals__day-title">п'ятниця</h3>
        <ul class="meals__dish-list">
          <li class="meals__dish-item">
            <div class="meals__thumb">
              <picture>
                <source
                  srcset="
                    img/timetable-pic/friday/breakfast/fr-br-420-1x.webp 1x,
                    img/timetable-pic/friday/breakfast/fr-br-420-2x.webp 2x
                  "
                  type="image/webp"
                  media="(max-width: 1439.9px)"
                />
                <source
                  srcset="
                    img/timetable-pic/friday/breakfast/fr-br-420-1x.jpg 1x,
                    img/timetable-pic/friday/breakfast/fr-br-420-2x.jpg 2x
                  "
                  media="(max-width: 1439.9px)"
                />
                <source
                  srcset="
                    img/timetable-pic/friday/breakfast/fr-br-1440-1x.webp 1x,
                    img/timetable-pic/friday/breakfast/fr-br-1440-2x.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    img/timetable-pic/friday/breakfast/fr-br-1440-1x.jpg 1x,
                    img/timetable-pic/friday/breakfast/fr-br-1440-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <img
                  src="./img/timetable-pic/friday/breakfast/fr-br-420-1x.jpg"
                  alt="logo"
                  class="meals__img"
                />
              </picture>
            </div>
            <p class="meals__meal-name">сніданок</p>
          </li>
          <li class="meals__dish-item">
            <div class="meals__thumb">
              <picture>
                <source
                  srcset="
                    img/timetable-pic/friday/lunch/fr-lu-420-1x.webp 1x,
                    img/timetable-pic/friday/lunch/fr-lu-420-2x.webp 2x
                  "
                  type="image/webp"
                  media="(max-width: 1439.9px)"
                />
                <source
                  srcset="
                    img/timetable-pic/friday/lunch/fr-lu-420-1x.jpg 1x,
                    img/timetable-pic/friday/lunch/fr-lu-420-2x.jpg 2x
                  "
                  media="(max-width: 1439.9px)"
                />
                <source
                  srcset="
                    img/timetable-pic/friday/lunch/fr-lu-1440-1x.webp 1x,
                    img/timetable-pic/friday/lunch/fr-lu-1440-2x.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    img/timetable-pic/friday/lunch/fr-lu-1440-1x.jpg 1x,
                    img/timetable-pic/friday/lunch/fr-lu-1440-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <img
                  src="./img/timetable-pic/friday/lunch/fr-lu-420-1x.jpg"
                  alt="logo"
                  class="meals__img"
                />
              </picture>
            </div>
            <p class="meals__meal-name">обід</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
