<section class="menu">
  <div class="container">
    <div class="select">
      <div class="select__title-wrap">
        <p class="select__title select-title-js">Оберіть категорію...</p>
      </div>
      <ul class="select__list hide-select select-list-js">
        <li class="select__item select-item-js">
          <p class="select__filling">Перші страви</p>
        </li>
        <li class="select__item select-item-js">
          <p class="select__filling">Другі страви</p>
        </li>
        <li class="select__item select-item-js">
          <p class="select__filling">Напої</p>
        </li>
        <li class="select__item select-item-js">
          <p class="select__filling">Випічка</p>
        </li>
        <li class="select__item select-item-js">
          <p class="select__filling">Смаколики</p>
        </li>
      </ul>
    </div>
    <ul class="menu__list">
      <li class="menu__item ">
        <!-- menu__item_none -->
        <div class="menu__thumb">
          <picture>
            <source
              srcset="
              ./img/menuPic/noImage/absent-420-1x.webp 1x,
              ./img/menuPic/noImage/absent-420-2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767.9px)"
            />
            <source
              srcset="./img/menuPic/noImage/absent-420-1x.jpg 1x, ./img/menuPic/noImage/absent-420-2x.jpg 2x"
              media="(max-width: 767.9px)"
            />
            <source
              srcset="
                ./img/menuPic/noImage/absent-1440-1x.webp 1x,
                ./img/menuPic/noImage/absent-1440-2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/menuPic/noImage/absent-1440-1x.jpg 1x, ./img/menuPic/noImage/absent-1440-2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <img
              src="./img/menuPic/noImage/absent-420-1x.jpg"
              alt="dish"
              class="menu__img"
            />
          </picture>
        </div>
        <h4 class="menu__card-title">М’ясо з картоплею</h4>
        <div class="menu__text-wrap">
          <p class="menu__including">Склад: 100гр курки. 200гр пюре</p>
          <div class="menu__cost-wrap">
            <p class="menu__price">37 грн</p>
            <p class="menu__availability">В наявн</p>
          </div>
        </div>
      </li>
      <li class="menu__item ">
        <!-- menu__item_none -->
        <div class="menu__thumb">
          <picture>
            <source
              srcset="
              ./img/menuPic/noImage/absent-420-1x.webp 1x,
              ./img/menuPic/noImage/absent-420-2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767.9px)"
            />
            <source
              srcset="./img/menuPic/noImage/absent-420-1x.jpg 1x, ./img/menuPic/noImage/absent-420-2x.jpg 2x"
              media="(max-width: 767.9px)"
            />
            <source
              srcset="
                ./img/menuPic/noImage/absent-1440-1x.webp 1x,
                ./img/menuPic/noImage/absent-1440-2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/menuPic/noImage/absent-1440-1x.jpg 1x, ./img/menuPic/noImage/absent-1440-2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <img
              src="./img/menuPic/noImage/absent-420-1x.jpg"
              alt="dish"
              class="menu__img"
            />
          </picture>
        </div>
        <h4 class="menu__card-title">М’ясо з картоплею</h4>
        <div class="menu__text-wrap">
          <p class="menu__including">Склад: 100гр курки. 200гр пюре</p>
          <div class="menu__cost-wrap">
            <p class="menu__price">37 грн</p>
            <p class="menu__availability">В наявн</p>
          </div>
        </div>
      </li>
      <li class="menu__item ">
        <!-- menu__item_none -->
        <div class="menu__thumb">
          <picture>
            <source
              srcset="
              ./img/menuPic/noImage/absent-420-1x.webp 1x,
              ./img/menuPic/noImage/absent-420-2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767.9px)"
            />
            <source
              srcset="./img/menuPic/noImage/absent-420-1x.jpg 1x, ./img/menuPic/noImage/absent-420-2x.jpg 2x"
              media="(max-width: 767.9px)"
            />
            <source
              srcset="
                ./img/menuPic/noImage/absent-1440-1x.webp 1x,
                ./img/menuPic/noImage/absent-1440-2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/menuPic/noImage/absent-1440-1x.jpg 1x, ./img/menuPic/noImage/absent-1440-2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <img
              src="./img/menuPic/noImage/absent-420-1x.jpg"
              alt="dish"
              class="menu__img"
            />
          </picture>
        </div>
        <h4 class="menu__card-title">М’ясо з картоплею</h4>
        <div class="menu__text-wrap">
          <p class="menu__including">Склад: 100гр курки. 200гр пюре</p>
          <div class="menu__cost-wrap">
            <p class="menu__price">37 грн</p>
            <p class="menu__availability">В наявн</p>
          </div>
        </div>
      </li>
      <li class="menu__item ">
        <!-- menu__item_none -->
        <div class="menu__thumb">
          <picture>
            <source
              srcset="
              ./img/menuPic/noImage/absent-420-1x.webp 1x,
              ./img/menuPic/noImage/absent-420-2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767.9px)"
            />
            <source
              srcset="./img/menuPic/noImage/absent-420-1x.jpg 1x, ./img/menuPic/noImage/absent-420-2x.jpg 2x"
              media="(max-width: 767.9px)"
            />
            <source
              srcset="
                ./img/menuPic/noImage/absent-1440-1x.webp 1x,
                ./img/menuPic/noImage/absent-1440-2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/menuPic/noImage/absent-1440-1x.jpg 1x, ./img/menuPic/noImage/absent-1440-2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <img
              src="./img/menuPic/noImage/absent-420-1x.jpg"
              alt="dish"
              class="menu__img"
            />
          </picture>
        </div>
        <h4 class="menu__card-title">М’ясо з картоплею</h4>
        <div class="menu__text-wrap">
          <p class="menu__including">Склад: 100гр курки. 200гр пюре</p>
          <div class="menu__cost-wrap">
            <p class="menu__price">37 грн</p>
            <p class="menu__availability">В наявн</p>
          </div>
        </div>
      </li>
      <li class="menu__item ">
        <!-- menu__item_none -->
        <div class="menu__thumb">
          <picture>
            <source
              srcset="
              ./img/menuPic/noImage/absent-420-1x.webp 1x,
              ./img/menuPic/noImage/absent-420-2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767.9px)"
            />
            <source
              srcset="./img/menuPic/noImage/absent-420-1x.jpg 1x, ./img/menuPic/noImage/absent-420-2x.jpg 2x"
              media="(max-width: 767.9px)"
            />
            <source
              srcset="
                ./img/menuPic/noImage/absent-1440-1x.webp 1x,
                ./img/menuPic/noImage/absent-1440-2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/menuPic/noImage/absent-1440-1x.jpg 1x, ./img/menuPic/noImage/absent-1440-2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <img
              src="./img/menuPic/noImage/absent-420-1x.jpg"
              alt="dish"
              class="menu__img"
            />
          </picture>
        </div>
        <h4 class="menu__card-title">М’ясо з картоплею</h4>
        <div class="menu__text-wrap">
          <p class="menu__including">Склад: 100гр курки. 200гр пюре</p>
          <div class="menu__cost-wrap">
            <p class="menu__price">37 грн</p>
            <p class="menu__availability">В наявн</p>
          </div>
        </div>
      </li>
      <li class="menu__item ">
        <!-- menu__item_none -->
        <div class="menu__thumb">
          <picture>
            <source
              srcset="
              ./img/menuPic/noImage/absent-420-1x.webp 1x,
              ./img/menuPic/noImage/absent-420-2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767.9px)"
            />
            <source
              srcset="./img/menuPic/noImage/absent-420-1x.jpg 1x, ./img/menuPic/noImage/absent-420-2x.jpg 2x"
              media="(max-width: 767.9px)"
            />
            <source
              srcset="
                ./img/menuPic/noImage/absent-1440-1x.webp 1x,
                ./img/menuPic/noImage/absent-1440-2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/menuPic/noImage/absent-1440-1x.jpg 1x, ./img/menuPic/noImage/absent-1440-2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <img
              src="./img/menuPic/noImage/absent-420-1x.jpg"
              alt="dish"
              class="menu__img"
            />
          </picture>
        </div>
        <h4 class="menu__card-title">М’ясо з картоплею</h4>
        <div class="menu__text-wrap">
          <p class="menu__including">Склад: 100гр курки. 200гр пюре</p>
          <div class="menu__cost-wrap">
            <p class="menu__price">37 грн</p>
            <p class="menu__availability">В наявн</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
