<section class="menu">
<div class="container">
        <div class="select">
            <div class="select__title-wrap">
                <p class="select__title select-title-js">Оберіть категорію...</p>
            </div>
            <ul class="select__list is-hidden select-list-js">
                <li class="select__item select-item-js">
                    <p class="select__filling">Перші страви</p>
                </li>
                <li class="select__item select-item-js">
                    <p class="select__filling">Другі страви</p>
                </li>
                <li class="select__item select-item-js">
                    <p class="select__filling">Напої</p>
                </li>
                <li class="select__item select-item-js">
                    <p class="select__filling">Випічка</p>
                </li>
                <li class="select__item select-item-js">
                    <p class="select__filling">Смаколики</p>
                </li>
            </ul>
        </div>
</div>
</section>