<section class="menu">
  <div class="container">
    <div class="select">
      <div class="select__title-wrap">
        <p class="select__title select-title-js">Оберіть категорію...</p>
      </div>
      <ul class="select__list hide-select select-list-js">
        <li class="select__item select-item-js" data-type="firstCourses">
          <p class="select__filling">Перші страви</p>
        </li>
        <li class="select__item select-item-js" data-type="secondCourses">
          <p class="select__filling">Другі страви</p>
        </li>
        <li class="select__item select-item-js" data-type="drinks">
          <p class="select__filling">Напої</p>
        </li>
        <li class="select__item select-item-js" data-type="baking">
          <p class="select__filling">Випічка</p>
        </li>
        <li class="select__item select-item-js" data-type="salads">
          <p class="select__filling">Салати</p>
        </li>
      </ul>
    </div>
    <ul class="menu__list cards-list-js">
    </ul>
  </div>
</section>
