<div class="modal is-hidden" data-modal>
    <div class="modal__container">
        <button class="modal__close-btn" type="button" data-modal-close></button>
        <nav class="modal__nav">
            <ul class="modal_list">
                <li class="modal__item">
                  <a href="./index.html" class="modal__link">Головна</a>
                </li>
                <li class="modal__item"><a href="./menu.html" class="modal__link">Меню</a></li>
                <li class="modal__item">
                  <a href="./timetable.html" class="modal__link">Розклад</a>
                </li>
                <li class="modal__item">
                  <a href="./wishes.html" class="modal__link">Відгуки</a>
                </li>
              </ul>
        </nav>
    </div>
</div>