<section class="timetable">
  <div class="timetable__container container">
    <h2 class="timetable__title title">розклад сніданків</h2>
    <table class="timetable__table table">
      <tr class="timetable__row">
        <td class="timetable__column timetable__column_title">Час</td>
        <td class="timetable__column timetable__column_title">Класи</td>
      </tr>
      <tr class="timetable__row">
        <td class="timetable__column">9:15-9:25</td>
        <td class="timetable__column">1 класи</td>
      </tr>
      <tr class="timetable__row">
        <td class="timetable__column">10:10-10:20</td>
        <td class="timetable__column">2 класи</td>
      </tr>
      <tr class="timetable__row">
        <td class="timetable__column">11:05-11:20</td>
        <td class="timetable__column">3 класи</td>
      </tr>
      <tr class="timetable__row">
        <td class="timetable__column">12:05-12:20</td>
        <td class="timetable__column">4 класи</td>
      </tr>
    </table>

    <table class="timetable__table-desktop table">
      <tr class="timetable__row-desktop">
        <td class="timetable__column-desktop"></td>
        <td class="timetable__column-desktop">1 класи</td>
        <td class="timetable__column-desktop">2 класи</td>
        <td class="timetable__column-desktop">3 класи</td>
        <td class="timetable__column-desktop">4 класи</td>
      </tr>
      <tr class="timetable__row-desktop">
        <td class="timetable__column-desktop">9:15-9:25</td>
        <td class="timetable__column-desktop">
          <svg class="timetable__svg-desktop">
            <use href="./img/svg/symbol-defs.svg#icon-tick"></use>
          </svg>
        </td>
        <td class="timetable__column-desktop"></td>
        <td class="timetable__column-desktop"></td>
        <td class="timetable__column-desktop"></td>
      </tr>
      <tr class="timetable__row-desktop">
        <td class="timetable__column-desktop">10:10-10:20</td>
        <td class="timetable__column-desktop"></td>
        <td class="timetable__column-desktop">
          <svg class="timetable__svg-desktop">
            <use href="./img/svg/symbol-defs.svg#icon-tick"></use>
          </svg>
        </td>
        <td class="timetable__column-desktop"></td>
        <td class="timetable__column-desktop"></td>
      </tr>
      <tr class="timetable__row_desktop">
        <td class="timetable__column-desktop">11:05-11:20</td>
        <td class="timetable__column-desktop"></td>
        <td class="timetable__column-desktop"></td>
        <td class="timetable__column-desktop">
          <svg class="timetable__svg-desktop">
            <use href="./img/svg/symbol-defs.svg#icon-tick"></use>
          </svg>
        </td>
        <td class="timetable__column-desktop"></td>
      </tr>
      <tr class="timetable__row-desktop">
        <td class="timetable__column-desktop">12:05-12:20</td>
        <td class="timetable__column-desktop"></td>
        <td class="timetable__column-desktop"></td>
        <td class="timetable__column-desktop"></td>
        <td class="timetable__column-desktop">
          <svg class="timetable__svg-desktop">
            <use href="./img/svg/symbol-defs.svg#icon-tick"></use>
          </svg>
        </td>
      </tr>
    </table>
  </div>
</section>
