.footer {
  padding: 14px 0 8px;
  background-color: $medium-blue;
  font-size: 12px;
  @media screen and (min-width: 768px) {
    font-size: 15px;
  }
  @media screen and (min-width: 1440px) {
    padding: 38px 0 30px;
    font-size: 24px;
  }

  &__container {
    padding: 0 6px 0;
  }

  &__contacts {
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    @media screen and (min-width: 768px) {
      gap: 40px;
    }
    @media screen and (min-width: 1440px) {
      gap: 280px;
    }
  }

  &__link{
    display: block;
    &:not(:last-child){
      margin-bottom: 5px;
    }
  }

  &__data-list {
    display: flex;
    align-items: center;
    gap: 16px;
    @media screen and (min-width: 768px) {
      gap: 23px;
    }
    @media screen and (min-width: 1440px) {
      gap: 30px;
    }
    & > .footer__item {
      max-width: 116px;
      @media screen and (min-width: 768px) {
        max-width: 225px;
      }
      @media screen and (min-width: 1440px) {
        max-width: 333px;
      }
    }
  }

  &__socials {
    display: flex;
    gap: 9px;
    @include responsive("gap", 0, 4, 320, 420);
    @media screen and (min-width: 420px) {  
      gap: 4px;
    }
    @media screen and (min-width: 768px) {
      gap: 12px;
    }
    @media screen and (min-width: 1440px) {
      gap: 26px;
    }
  }

  &__svg-link{
    display: block;
    padding: 8px 4px;
  }

  &__svg {
    width: 24px;
    height: 16px;
    @media screen and (min-width: 768px) {
      width: 30px;
      height: 24px;
    }
    @media screen and (min-width: 1440px) {
      width: 55px;
      height: 39px;
    }
  }

  &__caption-wrap {
    padding-top: 8px;
    border-top: 2px $darker-medium-blue solid;
    @media screen and (min-width: 1440px) {
      padding-top: 23px;
    }
  }

  &_caption {
    margin: 0 auto;
    max-width: 399px;
    @media screen and (min-width: 768px) {
      max-width: 657px;
    }
    @media screen and (min-width: 1440px) {
      max-width: 1280px;
    }
  }
}
