.video {
  padding: 48px 0 14px;
  @media screen and (min-width: 1440px) {
    padding: 86px 0 134px;
  }
  &__wrap {
    padding: 14px;
    max-width: 395px;
    margin: 0 auto;
    background-color: #6191bd;
    @media screen and (min-width: 768px) {
      padding: 20px;
      max-width: 461px;
    }
    @media screen and (min-width: 1440px) {
      padding: 44px 46px;
      max-width: 1284px;
    }
  }

  &__recording {
    @include responsive("width", 290, 367, 320, 420);
    height: 203px;
    @media screen and (min-width: 420px) {
      width: 367px;
    }
    @media screen and (min-width: 768px) {
      width: 421px;
      height: 231px;
    }
    @media screen and (min-width: 1440px) {
      width: 1192px;
      height: 626px;
    }
  }
}
